@model ArticleListViewModel
@section scripts {
    <script src="/js/jquery.cycle2.min.js" asp-append-version="true"></script>
    <script src="/js/slidestextmanager.js" asp-append-version="true"></script>
}
<table>
        <tr>
            <td class="hide-on-mobile">
                <h2 id="caption"></h2>
            </td>
        </tr>
    </table>
<p>  
    <span class="cycle-slideshow image-detail image-detail-full"
          data-cycle-fx=scrollHorz
          data-cycle-timeout=0
          data-cycle-pager-event="mouseover">
        <span id="image-wrapper" class="cycle-pager"></span>
        @{
            var categoryid = int.Parse(Context.Request.Query["categoryid"]);
            switch (categoryid)
            {
                case (1):
                    <partial name="_ContentMarciaPartial" />
                    break;
                case (2):
                    <partial name="_ContentCarolPartial" />
                    break;
                case (3):
                    <partial name="_ContentGregPartial" />
                    break;
                case (4):
                    <partial name="_ContentJanPartial" />
                    break;
                case (5):
                    <partial name="_ContentAlicePartial" />
                    break;
                case (6):
                    <partial name="_ContentPeterPartial" />
                    break;
                case (7):
                    <partial name="_ContentCindyPartial" />
                    break;
                case (8):
                    <partial name="_ContentMikePartial" />
                    break;
                case (9):
                    <partial name="_ContentBobbyPartial" />
                    break;
                case (10):
                    <partial name="_ContentGroupPartial" />
                    break;

                default:
                    <partial name="_ContentMarciaPartial" />
                    break;
            };
        }
    </span>
    <span id="p1">        
    </span>
    <br /><br />
    <span id="p2">     
    </span>
</p>













