@{
    ViewData["Title"] = "The Cast";
}
<div class="image-thumbnail">    
    <img id="productImage" alt="Marsha" title="Marsha" src="/images/small/Marsha.jpg" width="274" height="190" /> 
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Maureen</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="1" asp-route-articleid="" asp-route-currentPage="">(Marsha)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Carol" title="Carol" src="/images/small/Carol.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Florence</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="2" asp-route-articleid="" asp-route-currentPage="">(Carol)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Greg" title="Greg" src="/images/small/Greg.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Barry</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="3" asp-route-articleid="" asp-route-currentPage="">(Greg)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Jan" title="Jan" src="/images/small/Jan.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Eve</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="4" asp-route-articleid="" asp-route-currentPage="">(Jan)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Alice" title="Alice" src="/images/small/Alice.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Ann</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="5" asp-route-articleid="" asp-route-currentPage="">(Alice)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Peter" title="Peter" src="/images/small/Peter.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Christopher</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="6" asp-route-articleid="" asp-route-currentPage="">(Peter)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Cindy" title="Cindy" src="/images/small/Cindy.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Susan</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="7" asp-route-articleid="" asp-route-currentPage="">(Cindy)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Mike" title="Mike" src="/images/small/Mike.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Robert</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="8" asp-route-articleid="" asp-route-currentPage="">(Mike)</a></p>
        </figcaption>
    </figure>
</div>
<div class="image-thumbnail">
    <img id="productImage" alt="Bobby" title="Bobby" src="/images/small/Bobby.jpg" width="274" height="190" />
    <figure>
        <figcaption class="image-caption">
            <p class="caption-title">Michael</p>
            <p class="caption-text"> <a asp-controller="Articles" asp-action="List" asp-route-categoryid="9" asp-route-articleid="" asp-route-currentPage="">(Bobby)</a></p>
        </figcaption>
    </figure>
</div>




@*could use faqs if wish
    <div id="faqs" class="hide-on-mobile">
        <h3><a href="#">There are several good websites on the internet for Firebird and Trans Am enthusiasts.</a></h3>
        <ul class="homepage-ul faqs-ul">
            <li><a href="https://firebirdtaclub.com/" target="_blank">The National Firebird and Trans Am Club</a></li>
            <li><a href="https://www.firebirdcentral.com/" target="_blank">Firebird Central</a></li>
            <li><a href="https://www.78ta.com/" target="_blank">78ta.com</a></li>
            <li><a href="https://www.facebook.com/firebirdclub/" target="_blank">National Firebird and Trans Am Club (on facebook)</a></li>
            <li><a href="https://transamflorida.com/" target="_blank">Trans Am Florida</a></li>
            <li><a href="http://transamcountry.com/site/" target="_blank">Trans Am Country</a></li>
            <li><a href="https://shop.classicindustries.com/lp/1967-2002_pontiac_firebird_and_trans_am_parts" target="_blank">Classic Industries</li>
            <li><a href="https://www.ecklers.com/firebird" target="_blank">Ecklers</a></li>
        </ul>
    </div>*@







